## Условие 1:
Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код

## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [10]:
fruits = {'orange' : 5}

In [11]:
def fruits_in_stock(fruits_to_add):
    for key in fruits_to_add.keys():
        if key in fruits.keys():
            fruits[key] += fruits_to_add[key]
        else:
            fruits[key] = fruits_to_add[key]
    
    print(fruits)
    print(f'Всего фруктов на складе: {sum(fruits.values())}')

In [12]:
fruits_in_stock({'apple':3, 'banana':4})

{'orange': 5, 'apple': 3, 'banana': 4}
Всего фруктов на складе: 12

In [13]:
fruits_in_stock({'apple':5, 'banana':9, 'kiwi':5})

{'orange': 5, 'apple': 8, 'banana': 13, 'kiwi': 5}
Всего фруктов на складе: 31

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [14]:
costs = [100, 125, -90, 345, 655, -1, 0, 200]

In [44]:
pos_costs = [i if i>0 else 0 for i in costs]
pos_costs

[100, 125, 345, 655, 0, 200]

Cуммарные затраты:

In [45]:
sum(pos_costs)

1425

## Условие 4:
Даны два списка.

In [34]:
#Дата покупки
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', 
        '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
        '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', 
        '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [35]:
#Суммы покупок по датам
totals = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274,
          6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [36]:
totals_november = [totals[i] for i in range(len(dates)) if dates[i][5:7]=='11']
totals_november

[4944, 3701, 7037, 4274, 2004, 2822, 316]

выручка у компании в ноябре:

In [37]:
sum(totals_november)

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [40]:
def revenue_per_month(dates: list, totals: list) -> dict:
    revenue = {}
    for i in range(len(dates)):
        month = dates[i][5:7]
        if month in revenue.keys():
            revenue[month] += totals[i]
        else:
            revenue[month] = totals[i]
    return revenue

In [41]:
print(revenue_per_month(dates, totals))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}